@media (min-width: 1024px) {
  #dropdownMenu {
    display: flex;
  }
  #inputSearch {
    display: flex;
  }
  
  #signUpIconExit {
    display: flex;
  }

  #activeSideBar {
    display: none;
    background-color: red;
  }

  #bannerMobileModels {
    display: none !important;
  }


  #searchIcon {
    display: none;
  }


  .sidebar-logo {
    display: flex;
    justify-content: end;
    align-items: center;
    .logo {
      display: flex;
      justify-content: end;
      font-size: 2.3rem;
      margin-right: 1rem;
    }
  }

  .dropdown-menu {
    display: flex;
    justify-content: center;
    gap: 2rem;
    font-size: 1rem;
    color: var(--color-black);
    font-family: var(--Satoshi-Regular);

  }
  .signupAlert {
    display: flex;
    justify-content: center;
    font-size: 15px;
    .signup-content {
      display: flex;
      width: 70%;
      justify-content: space-between;
    }
    .signup-title {
      display: flex;
      width: 100%;
      text-align: center;
      justify-content: center;
    }
    .signup-exit {
      justify-content: end;
    }
  }

  #homeSection {
    display: flex;
    background-image: url(../../assets/images/banners/home_banner_models_desktop.webp);
    height: 650px;
    background-repeat: no-repeat;
    background-position: right;
    background-position: bottom;
    width: 100%;
    position: relative;
    overflow-x: hidden !important;
  }

  .home-content {
    width: 100%;
    margin: 0 !important;
    align-items: start;
    padding: 0 0 0 7rem;
    overflow-x: hidden !important;
    .home-text {
      align-items: start ;
      width: 100% !important;

      .home-title {
        display: flex;
        text-align: start;
        width: 100% !important;
        max-width: 35rem;
        min-width: 30rem;
        font-size: 64px !important;
        overflow: hidden;

      }
      .home-description {
        text-align: start;
        width: 100% !important;
        max-width: 30rem;
      }
    
    }
    .home-information {
      display: flex;
      width: 100% !important;
      align-items: start !important;
      overflow: hidden;
      justify-content: start !important;
      button {
        width: 210px;
        height: 52px;
      }
      .home-container-data {
        justify-content: start !important;
        overflow: hidden;
        width: 100%;
        max-width: 35rem;
        min-width: 30rem;

        .home-information-acount {
          text-align: start;
        }
      }
      .home-information-sub-data {
        width: 25% !important;
      }
    }
    
  }
  .banner-mobile-models {
    display: flex;
    justify-content: center;
    width: 100%;
    .banner-mobile {
      width: 100%;
      height: 100%;
    }

    .home-banner-star-left {
      position: absolute;
      left: 53vw !important;
      top: 30vh !important;
      width: 3rem;
    }
    .home-banner-star-right {
      position: absolute;
      top: 5vh;
      left: 90vw !important;
    }
  }

  .product-content {
  
    width: 90% !important;
  }

  .info-links {
    width: 80%;
    display: flex;
    gap: 4rem;
    .info-links-company {
      width: 100%;
      h6 {
        font-size: 16px;
        overflow-y: hidden;
      }
      a {
        font-size: 16px;
      }
    }
  }

  .newlatter-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 4rem 2rem 4rem;
    h4 {
      text-align: start;
      width: 50%;
      font-size: 40px;
    }
    .form-newslatter {
      width: 349px;
    }
  }
}


@media (min-width: 1564px) {
  .home-banner-star-right {
    margin-left: -15rem;
  }
}

