/* HEADER */

#dropdownMenu {
  display: none; /* disabled on mobile */
}

#divider-two {
  display: none; /* disabled on mobile */
}

#signUpIconExit {
  display: none; /* disabled on mobile */
}



.dropdown-menu {
  display: none;
}
.sub-dropdown-menu {
  display: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 4rem;
  overflow: hidden;

  .sidebar-logo {
    display: flex;
    gap: 1rem;
    width: 18rem;

    img {
      width: 1.6rem;
    }
  }

  .logo {
    font-family: var(--IntegralCF-Medium);
    width: 100%;
    height: 100%;
    margin-top: -0.5rem;
    font-size: 2rem;
    cursor: pointer;
  }
    
  .logo {
    transition: transform 0.3s ease-out;
  }
  
  .logo:hover {
    transform: scale(1.05);
  }

  .navbar-icons {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 6.5rem;
    background-size: cover;
    cursor: pointer;
  }
}

.navbar-exit-animation {
  animation: slideUp 0.5s ease-in-out forwards;
}

.sidebar-container-active {
  position: fixed;
  background-color: var(--color-black);
  top: 0;
  left: -250px;
  width: 250px;
  height: 100vh;
  padding: 3rem;
  z-index: 4;
  transition: left 0.3s ease-out;
  animation: slideIn 0.5s ease-out forwards;

  a {
    color: var(--color-white);
    text-decoration: none;
  }

  .sidebar-items {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1rem;

    .sidebar-title {
      font-size: 2rem;
      font-family: var(--IntegralCF-Bold);
    }

    .sidebar-sub-title {
      font-family: var(--Satoshi-Medium);
      transition: all 0.3s ease-in-out;
    }

    .sidebar-sub-title:hover {
      color: var(--primary-color);
      background-color: var(--prime-color);
      transform: translateX(10px);
      border-radius: 4px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  }
}

@keyframes slideIn {
  from {
    left: -250px;
  }
  to {
    left: 0;
  }
}

.sidebar-container-disabled {
  position: fixed;
  background-color: black;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  padding: 3rem;
  z-index: 4;
  transition: left 0.3s ease-out;
  animation: slideOut 0.5s ease-out forwards;

  a {
    color: var(--color-white);
    text-decoration: none;
  }

  .sidebar-items {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1rem;

    .sidebar-title {
      font-size: 2rem;
      font-family: var(--IntegralCF-Bold);
    }

    .sidebar-sub-title {
      font-family: var(--Satoshi-Medium);
      transition: all 0.3s ease-in-out;
    }

    .sidebar-sub-title:hover {
      color: var(--color-white);
      background-color: var(--color-black);
      transform: translateX(10px);
      border-radius: 4px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  }
}

@keyframes slideOut {
  from {
    left: 0;
  }
  to {
    left: -250px;
  }
}

.home-content {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  gap: 2rem;

  .home-text {
    display: flex;
    gap: 1rem;
    flex-direction: column;

    .home-title {
      font-family: var(--IntegralCF-Bold);
      font-size: 2.5rem;
    }

    .home-description {
      font-family: var(--Satoshi-Regular);
      color: var(--color-gray-text);
      width: 22rem;
      font-size: 14px;
    }
  }

  .home-information {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 2rem;

    .home-container-data {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      text-align: center;
      flex-wrap: wrap;
      gap: 2rem;
    }

    .home-information-data {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 2rem;
      text-align: start;

      .divider-one {
        color: #dad8d9;
        margin-top: -1rem;
        opacity: 40%;
      }
    }

    .home-information-sub-data {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 19rem;
    }

    .home-information-acount {
      font-family: var(--Satoshi-Medium);
    }

    .home-information-description {
      font-family: var(--Satoshi-Regular);
      font-size: 13px;
      color: var(--color-gray-text);
    }
  }
}

.banner-mobile-models {
  display: flex;
  justify-content: center;
  width: 100%;

  .banner-mobile {
    width: 100%;
    height: 100%;
  }

  .home-banner-star-left {
    position: absolute;
    left: 2vw;
    top: 100vh;
    width: 3rem;
  }

  .home-banner-star-right {
    position: absolute;
    left: 75vw;
  }
}

.logo-brands {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 0.3rem;
  background-color: black;
  height: 7.5rem;
  padding: 1rem;
  list-style: none;

  img {
    max-height: 25px;
  }

  .logo-down {
    max-width: 8rem;
  }
}

.product-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  .product-section-title {
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: var(--IntegralCF-Medium);
    font-size: 44px;
    padding: 3rem 0 0 0;
  }

  .product-content {
    display: flex;
    border-radius: 13.42px 13.42px 0 0;
    gap: 1rem;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    padding: 0.5rem;
    border-radius: 0;
    scrollbar-width: none;
  }

  .product-content::-webkit-scrollbar {
    display: none;
  }

  .product-items {
    border-radius: 13.42px 13.42px 0 0;
    width: 100%;
    overflow-y: hidden;
    cursor: pointer;
    min-width: 280px;

    .product-description {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;
      padding: 0.2rem;
    }

    .product-common-price {
      color: var(--color-gray-text);
      text-decoration: line-through;
    }

    .product-discount {
      display: flex;
      font-family: var(--Satoshi-Regular);
      justify-content: center;
      align-items: center;
      background-color: #ffebeb;
      width: 42px;
      height: 20px;
      border-radius: 62px;
      font-size: 12px;
      color: #ff3333;
    }

    .product-item {
      background-color: var(--color-gray);
      overflow-y: hidden;
      height: 14rem;
      display: flex;
      width: auto;
      height: 19rem;
      border-radius: 13.42px;
      justify-content: center;
      align-items: center;
    }
    

    .product-name {
      font-family: var(--Satoshi-Medium);
      font-size: 16px;
    }

    .product-feedback {
      font-family: var(--Satoshi-Regular);
      font-size: 12px;

      .product-feedback-color {
        color: var(--color-gray-text);
      }
    }

    .product-prices {
      display: flex;
      align-items: center;
      gap: 1rem;
      font-family: var(--Satoshi-Medium);
      font-size: 20px;
    }
  }
  
  .product-items {
    transition: transform 0.3s ease-out;
  }
  
  .product-items:hover {
    transform: scale(1.05);
  }
  


  .product-specifications {
    display: flex;
    gap: 1rem;

    .stars {
      display: flex;
      gap: 1rem;
    }
  }
}

.area-button-view-all {
  display: flex;
  justify-content: center;
}

#dividerArea {
  display: flex;
  justify-content: center;
}

.divider {
  border: 1px solid #dad8d9;
  width: 90%;
}

.stars {
  color: #ffc633;
  border: none;
}

.catalog-title {
  padding-top: 2rem;
  font-family: var(--IntegralCF-Medium);
  font-size: 1.5rem;
  text-align: center;
}

.catalog-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-gray);
  width: 95%;
  border-radius: 40px;
  gap: 1rem;
  padding: 1rem;
}

.catalog-cards {
  display: flex;
  font-family: var(--Satoshi-Medium);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-gray);
  width: 100%;
  padding: 3rem;
  gap: 1rem;
}

.catalog-card {
  width: 310px;
  height: 190px;
  background-color: white;
  display: flex;
  border-radius: 20px;

  h1 {
    position: absolute;
    padding: 1rem;
  }
  img {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
}
.catalog-items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.catalog-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;
}
.catalog-card {
  transition: transform 0.3s ease-out;
}

.catalog-card:hover {
  transform: scale(1.05);
}


.feedback-settings {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.feedback-title {
  font-family: var(--IntegralCF-Bold);
  font-size: 36px;
  white-space: normal;
  padding: 2.5rem 0 1rem 1rem;
  width: 70%;
}

.feedback-images {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 1rem;
  padding: 1rem;
  cursor: pointer;
}

.feedback-arrow-right {
  transform: rotate(180deg);
}

.feedback-arrow-left:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.feedback-arrow-right:hover {
  transform: scale(1.1) rotate(180deg);
  transition: transform 0.3s ease-in-out;
}

.feedback-images img {
  width: 2rem;
  object-fit: cover;
}

.feedback-content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.feedback-items {
  overflow: none;
}

.feedback-cards {
  display: flex;
  justify-content: start;
  padding: 1rem;
  gap: 1rem;
  width: 100%;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
  transition: transform 0.5s ease-in-out;
}

.feedback-cards::-webkit-scrollbar {
  display: none;
}

.feedback-card {
  display: flex;
  flex-direction: column;
  font-family: var(--Satoshi-Medium);
  gap: 1rem;
  padding: 1rem;
  min-width: 23rem;
  max-width: 25rem;
  height: 12rem;
  border: 1px solid var(--color-gray);
  border-radius: 1.25rem;
  transition: transform 0.5s ease-in-out;
  transform: scale(1);

  &:hover {
    transform: scale(1.05);
  }

  .card-title {
    display: flex;
    font-size: 1rem;
    gap: 0.5rem;
    font-weight: bold;
  }

  .card-description {
    font-size: 0.875rem;
  }
}

.news-content {
  position: relative;
  z-index: 0;
  top: 5.5rem;
  padding: 1rem;
}

.news-items {
  display: flex;
  justify-content: center;
}

.newslatter {
  position: relative;
  z-index: 1;
  color: white;
}

.newlatter-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  width: 90vw;
  background-color: var(--color-black);
  border-radius: 20px;
  gap: 2rem;
}

.form-newslatter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

.newslatter h4 {
  font-size: 32px;
  font-family: var(--IntegralCF-Medium);
}

.info-socials {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  margin-top: -0.5rem;

  h6 {
    font-family: var(--IntegralCF-Medium);
    font-size: 28.8px;
  }

  p {
    font-family: var(--Satoshi-Regular);
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
  }

  .info-socials-icons {
    display: flex;
    gap: 12px;
    margin-bottom: 24.4px;

    .circulo-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 28px;
      height: 28px;
      border-radius: 28px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      cursor: pointer;
    }

    .facebook {
      background-color: black;
      color: white;
    }

    .circulo-icon:hover {
      background-color: var(--color-black);

      .path-hover {
        fill: white;
      }
    }
  }
}

.info-links {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .info-links-company {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: auto;
    margin-bottom: 24px;

    h6 {
      font-family: var(--Satoshi-Medium);
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 3px;
    }

    a {
      text-decoration: none;
      font-family: var(--Satoshi-Regular);
      font-size: 14px;
      color: rgba(0, 0, 0, 0.6);
    }
  }
}

.rodape {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-gray);
  gap: 16px;

  hr {
    width: 90vw;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  .rodape-badges {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
  }

  p {
    display: flex;
    justify-content: center;
    font-family: var(--Satoshi-Regular);
    font-size: 14px;
  }
}