@import url('fonts.css');
@import url('ui.css');
@import url('layout.css');
@import url('tablet.css');
@import url('desktop.css');


:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray: #f0f0f0;
  --color-gray-text: #616060;
  --color-gray-hover: #d4d4d4;

  --IntegralCF-Regular: 'IntegralCF Regular', sans-serif;
  --IntegralCF-Medium: 'IntegralCF Medium', sans-serif;
  --IntegralCF-Bold: 'IntegralCF Bold', sans-serif;
  

  --Satoshi-Regular: 'Satoshi Regular', sans-serif;
  --Satoshi-Medium: 'Satoshi Medium', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden ;
}


#signupAlert {
  display: flex;
  justify-content: center;
  font-family: var(--Satoshi-Medium);
  font-size: 13px;
  background-color: var(--color-black);
  padding: 1rem;
  color: var(--color-white);
  a {
    color: white;
  }
}

#homeSection {
  background-color: var(--color-gray);
}
#logoSection {
  background-color: var(--color-black);
}

#catalogSection {
  display: flex;
  justify-content: center;
}

#productsSection {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

#feedbackSection {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#footerSection {
  background-color: var(--color-gray);
  padding: 6rem 1rem 1rem 1rem ;
}


