@import url('fonts.css');
@import url('ui.css');
@import url('layout.css');
@import url('tablet.css');
@import url('desktop.css');


:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray: #f0f0f0;
  --color-gray-text: #616060;
  --color-gray-hover: #d4d4d4;

  --IntegralCF-Regular: 'IntegralCF Regular', sans-serif;
  --IntegralCF-Medium: 'IntegralCF Medium', sans-serif;
  --IntegralCF-Bold: 'IntegralCF Bold', sans-serif;
  

  --Satoshi-Regular: 'Satoshi Regular', sans-serif;
  --Satoshi-Medium: 'Satoshi Medium', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden ;
}



#homeSection {
  background-color: var(--color-gray);
}
#logoSection {
  background-color: var(--color-black);
}

#productsSection {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}


