@media (min-width: 540px) {

  .home-content {
    justify-content: center;
    align-items: center;
    text-align: center;
    .home-text {
      align-items: center;

      .home-title {
        max-width: 40rem;
        font-size: 3rem !important;
      }
      .home-description {
        width: 70% !important;
      }
    }
    .home-information {
      display: flex;
      width: 100%;
      justify-content: center !important;
      align-items: center;
      .home-container-data {
        display: flex;
        width: 100%;
        align-items: center !important;
        justify-content: center !important;
        
        align-items: center;
      }

    }
  }
  .banner-mobile-models {
    .home-banner-star-right {
      position: absolute;
      left: 85vw !important;
    }
  }

  .logo-brands {
    img {
      max-height: 15rem;
    }
    .logo-down {
      max-width: 15rem;
    }
  }
  .product-container {
    display: flex;
    justify-content: center ;
    align-items: center ;
  }


  .feedback-items {
    position: relative !important;
    justify-content: center !important;
    width: 100%;
  }

  
    .feedback-items::before,
    .feedback-items::after {
      position: absolute;
      top: 0;
      width: 100px;
      height: 100%;
      content: "";
      z-index: 2;
    }

    .feedback-items:before {
      left: 0;
      border-radius: 16px;
      backdrop-filter: blur(1.5px);
      -webkit-backdrop-filter: blur(1.5px);
      
    }

    
    .feedback-items:after {
      right: 0;
      background: rgba(255, 255, 255, 0);
      border-radius: 16px;
      backdrop-filter: blur(1.5px);
      -webkit-backdrop-filter: blur(1.5px);
    }
    .newlatter-content {
      text-align: center;
    }


}



@media (min-width: 768px) {

  #divider-two {
    display: flex;
  }

  .navbar {
    height: 5rem;
  }
  
  .sidebar-logo { 
    height: 100%;
    .logo {
      margin-top: -0.2rem;
      font-size: 2.3rem;
    }
  }

  .home-information {
    align-items: center;
    .home-container-data {
      flex-direction: row !important;
    }
    .home-container-data {
      gap: 0 !important;
      
    }
    .home-information-data {
      text-align: center !important;
    }
    .home-information-sub-data {
      width: 10rem !important;
    }
  }
  
  .banner-mobile-models {
    .home-banner-star-left {
      position: absolute;
      left: 10vw !important;
      top: 110vh !important;
    }
    .home-banner-star-right {
      top: 70vh;
      width: 5rem;
      position: absolute;
      left: 89vw !important;
    }
  }

  .product-content {
    width: 80rem !important;
  }
  .product-items {
    height: 25rem !important;
  }
  .product-item {
    height: 20rem !important;
    margin: 0 !important;
    padding: 0 !important;
    background-color: var(--color-gray);
    border-radius: 20px !important;
  }
  
  .button-view-all {
    min-width: 13rem !important;
    width: 15% !important;
    height: 52px !important;
  }

  .catalog-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
  }
  
  .catalog-items {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    flex-grow: 1; 
    width: 100%;
  }
  
  .catalog-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    flex-grow: 1; 
  }
  
  .catalog-card {
    display: flex;
    align-items: center;
    width: 407px;
    height: 289px;
    justify-content: start;
    align-items: start;
    text-align: center;
    overflow: hidden;



    img {
      margin: 0;
      padding: auto;
      min-width: 450px;
      max-width: 100%;
      min-height: 10%;
    }
  }
  
  .card-second,
  .card-third {
    flex-grow: 1; 
    max-width: 50%;
  }

  .feedback-card {
    min-width: 400px;
    min-height: 240px;
  }
  .feedback-title {
    font-size: 48px;
  }


    
      #footerSection {
        display: flex ;
        flex-direction: row ;
        gap: 4.5rem;
        padding: 7rem 3rem 3rem 5rem !important;
      }

        .info-socials {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1rem;
            
            h6 {
                font-size: 33.45px;
            }

            p {
                font-size: 14px;
                width: 100%;
                max-width: 20rem;
            }

            .info-socials-icons {
                display: flex;
                gap: 1rem; 
                align-items: center;
            }
        }
    

    .rodape-items {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 1rem;
        padding: 2rem 5.5rem 2rem 5.5rem;

        .rodape-badges {
            display: flex;
            align-items: center;
        }
    }
}


