@media (min-width: 768px) {

  #searchIcon {
    display: none;
  }

  .navbar {
    height: 5rem;
  }
  
  .sidebar-logo { 
    height: 100%;
    .logo {
      margin-top: -0.2rem;
      font-size: 2.3rem;
    }
  }
  
}
