
#inputSearch {
  display: none; /* disabled on mobile */
}
/* Botões */
.button-common {
  font-family: var(--Satoshi-Medium);
  background-color: var(--color-black);
  color: var(--color-white);
  width: 358px;
  height: 52px;
  border: none;
  border-radius: 62px;
}

.button-view-all {
  font-family: var(--Satoshi-Medium);
  width: 80%;
  border: 1px solid var(--color-gray);
  background-color: transparent;
  border-radius: 62px;
  height: 46px;
  margin-bottom: 4rem;
}


  
  .input-search {
    width: 45%;
    height: 48px;
    font-family: var(--Satoshi-Regular);
    font-size: 1rem;
    border-radius: 62px;
    border: 2px solid transparent;
    background-image: url("../../public/images/icons/sidebar_search_icon.svg");
    background-repeat: no-repeat;
    background-position: 1rem center;
    padding: 0 1rem 0 3rem;
    transition: all 0.3s ease-in-out;
    outline: none;
    
    background-color: var(--color-gray);
    box-shadow: 0px 4px 6px var(--color-gray);

    &:focus {
      width: 46%; 
      background-color: #fff;
      border: 2px solid var(--color-gray); 
      box-shadow: 0px 4px 12px var(--color-white); 
    }

    &:hover {
      box-shadow: 0px 4px 10px var(--color-white)
    }
  }



